<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>

  <div class="post-comment">
    <div class="media-body">
      <span><i class="fa fa-user"></i>Posted by <%= comment.user.name %> on <%= link_to comment.post.title, topic_post_path(comment.post.topic, comment.post) %> </span>
      <p> <%= comment.body %> </p>
        <ul class="nav navbar-nav post-nav">
          <li><a href="#"><i class="fa fa-clock-o"></i>submitted <%= time_ago_in_words(comment.created_at) %> ago </a></li>
          <% if user_is_authorized_for_comment?(comment) %>
          <li> <%= link_to " Remove Comment", [comment.post, comment], class: "fa fa-remove", method: :delete, remote: true %> </li>
          <% end %>
        </ul>
    </div>
  </div>


  <!-- <div class="media">
    <div class="media-body">
      <small>
        <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
        <% if user_is_authorized_for_comment?(comment) %>
          | <%= link_to "Delete", [comment.post, comment], method: :delete, remote: true %>
        <% end %>
      </small>
      <p><%= comment.body %></p>
    </div>
  </div>

<% end %> -->
