<<<<<<< HEAD
<h1> Topics <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %> </h1>

  <div class="row">
      <div class="col-md-8">
        <% @topics.each do |topic| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to topic.name, topic %>
              </h4>
              <small>
                <%= topic.description %>
              </small>

            </div>
          </div>

          <hr>
          
        <% end %>

      </div>
  </div>
=======
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Topics</h1>
                            <p>What satisfies your curiosity?</p> <br>
                            <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                        <div class="single-blog single-column">
                          <div class="post-content overflow">
                            <% @topics.each do |topic| %>
                            <h2 class="post-title bold"> <%= link_to topic.name, topic %> </h2>
                            <h3 class="post-author"> Started by <%= topic.user.name %></h3>
                            <p> <%= topic.description %> <p>

                            <div class="post-bottom overflow">
                              <ul class="nav navbar-nav post-nav">
                                <%= render partial: "labels/list", locals: { labels: topic.labels } %>
                              </ul>
                            </div>
                            <% end %>
                           </div>
                         </div>
                       </div>
                     </div>

                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% content_for :analytic do %>
      <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("Visited_topics_index"); }); </script>
    <% end %>
>>>>>>> topics_fix
