
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">User View</h1>
                            <p>Peruse your posts and comments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                         <div class="col-sm-12 col-md-12">
                            <div class="single-blog single-column">
                                <div class="post-thumb">
                                  <% avatar_url = User.avatar_url(@user, 128) %>
                                  <% unless avatar_url.nil? %>
                                    <div class="media-left">
                                      <%= image_tag avatar_url, class: 'media-object' %>
                                    </div>
                                  <% end %>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"> <%= @user.name %> </h2>
                                    <h3 class="post-author"> <%= pluralize(@user.posts.count, 'post') %>
                                      <div class='js-comments-count'> <%= pluralize(@user.comments.count, 'comment') %> </div>
                                    </h3>
                                </div>
                            </div>
                        </div>

                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">
                        <div class="sidebar-item  recent">
                            <h3>Posts</h3>
                            <div class="media">
                                <div class="media-body">
                                    <h4> <%= render @user.posts %> </h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-8">
                      <h3>Comments</h3>
                        <div class="media">
                          <div class="media-body">
                            <h4> <%= render @user.comments %> </h4>
                          </div>
                        </div>
                      </div>
    </section>

    <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("Visited_user_show_page"); }); </script>
